.contenedor {
  display: grid;
  gap: 20px; 
}
.custom-toast {
  background-color: #2ecc71; /* Color de fondo del toast */
  color: #fff; /* Color del texto */
  border-radius: 8px; /* Borde redondeado */
  font-family: Arial, sans-serif; /* Fuente */
}

.Toastify__toast-container {
  /* Estilos para el contenedor de toasts */
  width: 320px; /* Ancho del contenedor */
}
